html {
    height: 100%;
}
body {
    padding: 20px;
    margin: 20px;
    border: 20px;

}

.cards-listing {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
}
.card {
    background-color: #fff;
    margin-bottom: 50px;
    border: 1px solid #efefef;
    border-radius: 3px;
}
.poster__profilepic {
    border-radius: 100%;
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.poster__name{
    color: #262626;
    font-weight: bold;
    
}
.poster__timestamp {
    float: right;
    color: #999;
}

  
.content-wrapper {
    margin-top: 57px;
    margin-bottom: 60px;
    background-color: #fafafa;
    /* @media screen and (max-width : 768px) {
        margin-top: 50px;
    } */
 }









.navbar {
    background-color: #fff;
    border-bottom-color: #dbdbdb;
}
.fa {
    font-size: 25px;
    color: #333 * 3;
}
