html {
    height: 100%;
}
body {
    padding: 20px;
    margin: 20px;
    border: 20px;
    box-shadow: 10px 10px 5px grey;

}

.cards-listing {
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
}
.card {
    background-color: #fff;
    margin-bottom: 50px;
    border: 1px solid #efefef48;
    border-radius: 3px;
}
.poster__profilepic {
    border-radius: 100%;
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.poster__name{
    color: blue;
    font-weight: bold;
    
}
.poster__timestamp {
    float: right;
    color: #999;
}
.card__main-image {
    max-width: 100%;
    max-height: 600px;
    height: auto;
    margin: 0 auto;
    display: block;
}
.card__panel-body {
    padding: 20px;
    padding-bottom: 20px;
    
}
.card__panel-body.likes {
    font-weight: bold;
    margin-bottom: 5px;
}
.picture-circle {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.picture-square {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    cursor: pointer;
}
a {
    font-family: cursive;
    font-size: 20px;
}
  
.content-wrapper {
    margin-top: 57px;
    margin-bottom: 60px;
    background-color: #fafafa;
    /* @media screen and (max-width : 768px) {
        margin-top: 50px;
    } */
 }

.navbar {
    background-color: #fff;
    border-bottom-color: #dbdbdb;
    box-shadow: 10px 10px 5px grey;
}
.fa {
    font-size: 25px;
    color: #333 * 3;
}
