{%extends 'all-instagram/base.html'%}
{% load bootstrap3%}
{% load static %}

{%block content%}
{{block.super}}
<div class="cards-listing">
{% for image in images %}
    <div class="row">
        <div class="card view-update {{ image.pk }}">
            <div class="card__panel-head">
                <div class="poster__info">
                    <div class="col-sm-6 col-md-6 center">
                            {% if image.user_profile.profile_pic %}
                            <img class="poster__profilepic" src="{{ image.user_profile.profile_pic.url }}" style="width: 100%; ">
                            {% else %}
                            <img class="poster__profilepic" src="{% static 'images/profile_placeholder.jpg' %}">
                            {% endif %}
                        </a>
                        <h1><a href="{% url 'profile' username=image.user_profile.user.username%}">{{image.user_profile.user.username}}</a></h1>
                        <span class="poster__timestamp">
                            {{ image.posted_on|timesince }}
                        </span>
                    </div>
                    
                </div>
            </div>
            <img class="card__main-image" src="{{ image.image.url }}">
            <div class="card__panel-body">
                <a href="{% url 'likes' image.pk %}">
                    <div class="likes">
                    {% if image.get_number_of_likes %}
                        {{ image.get_number_of_likes }} like{% if image.get_number_of_likes > 1 %}s{% endif %}
                    {% endif %}
                    </div>
                </a>
                <ul class="comment-list">
                    <li class="comment-list__comment">
                    <span class="comment">{{ image.image_name | safe}}</span>
                    </li>
                    <a class="view-more"></a>
                    {% for comment in image.comment_set.all %}
                    <li class="comment-list__comment">
                        {{ comment.user.username }}
                        
                        <span class="comment">{{ comment.comment }}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% if request.user.is_authenticated %}
                    <section class="input-row">
                    <i class="fa submit-like" aria-hidden="true"></i>
                    <div class="comment-input-wrapper">
                        <input class="add-comment" type="text" placeholder="Add a comment...">
                    </div>
                    <div class="hidden-data {{ image.pk }}" style="display: none;">
                        <span class="image-pk">{{ image.pk }}</span>
                    </div>
                    </section>
                {% endif %}
            </div>
        </div>
     </div>
{% endfor %}
</div>


{% endblock%}