{% extends 'all-instagram/base.html' %}
{% load bootstrap3%}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <form action="{%url 'post_picture'%}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <label>
        {{ form.image_name.label }}
        {{ form.image_name }}
        {{ form.image_name.errors }}
      </label>
      <label>
        {{ form.image.label }}
        {{ form.image }}
        {{ form.image.errors }}
      </label>
      <label>
        {{ form.image_caption.label }}
        {{ form.image_caption }}
        {{ form.image_caption.errors }}
      </label>
    
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
{% endblock %}