{%extends 'all-instagram/base.html'%}
{% load bootstrap3%}
{% load static %}

{%block content%}
{{block.super}}
<div class="profile">
    <div class="profile__head">
        <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 left">
            {% if profile.profile_pic %}
            <img class=" picture-circle" src="{{ profile.profile_pic.url }}">
            {% else %}
            <img class=" picture-circle" src="{% static 'images/profile_placeholder.jpg' %}">
            {% endif %}
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 ">
            <div class="name-buttons">
            <h1 class="username" style="font-size: 20px; font-family: cursive; color: darkgray;">{{ user.username }}</h1>
            {% if request.user == user %}
                <a  href="{% url 'profile_settings' request.user.username %}">
                <button class="edit-profile">Edit Profile</button>
                </a>
                
            {% elif request.user.is_authenticated %}  
            <div class="follow-toggle__container">
                <a href="{%url 'follow_toggle' %}">
                <button class="btn btn-primary {% if not following %}follow-user{% else %}unfollow-user{% endif %}" id="{{ profile.pk }}">
                    {% if not following %}
                    Follow
                    {% else %}
                    Following
                    {% endif %}    
                </button>
                </a> 
            </div>   
                
            {% endif %}

            <!-- {% if request.user == user %}
            <a class="edit-mobile" href="{% url 'profile_settings' user.username %}">
                <button class="edit-profile">Edit Profile</button>
            </a>
            {% endif %} -->
            <div class="block">
            <ul class="stats">
                <li class="stats__count"><span>{{ profile.image_set.count }}</span> Posts</li>
                <a href="{% url 'followers' username=profile.user.username %}"><li class="stats__count"><span>{{ profile.get_number_of_followers }}</span> Followers</li></a>
                <a href="{% url 'following' username=profile.user.username %}"><li class="stats__count"><span>{{ profile.get_number_of_following }}</span> Following</li></a>
            </ul>
            <div class="description">
                <p>{% if profile.bio %}{{ profile.bio }}{% endif %}</p>
            </div>
            
            

            </div>
            </div>
        </div>
        
        </div>
    </div>
    
    <div class="profile__body">
        
        {% for image in profile.image_set.all reversed %}
        <div class="row">
            <div class="posts">
                <div class="col-sm-4 col-md-4 col-lg-4 ">
                    <img  src="{{ image.image.url }}" style="width: 100%; box-shadow: 10px 10px 5px grey;
                    margin: 10px;" class="img-responsive" alt=""  data-toggle="modal" data-target="#myModal{{image.id}}" >
                </div>
                <div class="modal fade" id="myModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="extra" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title" id="myModalLongTitle">{{image.image_name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span   aria-hidden="true" >&times;</span>
                            </button>
                        </div>
                    
                        <div class="modal-body">
                            <img id="myImg"class="card-img-top" class="img-responsive" src="{{image.image.url}}" style="width: 100%;"><br><br>
                            <p>Name: {{image.image_name}}</p>
                            <p>Posted {{image.posted_on|timesince}} </p>
                    
                            
                            <p> Caption: {{ image.image_caption }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            <div class="col-sm-4">
                
            <div class="picture-square" style="background-image: url('{{ image.image.url }}'); width: 100%; ">
                <div class="content"></div>
                
                <a href="{% url 'post' image.pk %}">
                    <i class="fa fa-heart" aria-hidden="true">{{ image.get_number_of_likes }}</i> 
                    <i class="fa fa-comment" aria-hidden="true">{{ image.get_number_of_comments }}</i>
                </a>
                
            </div>
            </div>
        </div>
        {% endfor %}
       
    </div>    
</div>   
{%endblock %}
    
